.films__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(3, 3fr);
	grid-gap: 50px;
}

.film {
	box-shadow: rgba(214, 210, 210, 0.2) 0px 2px 8px 0px;
	padding: 20px;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 20px;
	background-color: rgb(97, 92, 92);
}

.form{
	margin: 20px;
	text-align: center;
}
